<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <title>Document</title>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">⭐Cinépolis</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/"><i class="bi bi-house-fill"></i>
                            Inicio</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="navbar navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="">

                </a>
                <ul class="nav">
                    <li>
                        <a href="">
                            <i class="icon-home icon-white"></i>

                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="icon-user icon-white"></i>

                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="icon-user icon-white"></i>

                        </a>
                    </li>

                </ul>

            </div>
        </div>

    </div>
    <div class="container">
        {%block content%}

        {%endblock%}
    </div>


</body>

</html>